{% extends 'main_page.html'%}
{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
  {% if post.image %}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {% else %}
  <img src="{%static 'no-image.jpg'%}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <p class="card-text">{{ post.rate }}</p>
    {% if post.author == request.user %}
    <a href="/post/{{post.id}}/update" class="btn btn-primary">Update</a>
    {% endif %}
    <p></p>
    <form action="" method="post">
      {% csrf_token %}
      {{comment_form.as_p}}
      <button type="submit">Add comment</button>
    </form>
    <p>Comments</p>
    {% for comment in comments %}
    <div class="card" style="width: 15rem; padding-top: 10px;">
      <h5 class="card-title">{{ comment.text }}</h5>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}